@model GuestResponse
@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <title>Thanks</title>
    </head>
    <body class="text-center">
        <div>
            <h1>Thank you, @Model.Name!</h1>
            @if (Model.WillAttend == true)
             {
                 @:<h4>It is great that you are coming. The drinks are already in the fridge!</h4>
             }
             else
             {
                 @:<h4>Sorry to heart that you can not make it, but thanks for letting us know.</h4>
             }
        </div>
        <h4>Click <a asp-action="ListResponses">here</a> to see who is coming.</h4>
    </body>
</html>